<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bid.title %>
</p>

<p>
  <b>Content:</b>
  <%= @bid.content %>
</p>

<p>
  <b>Joiners required:</b>
  <%= @bid.join_num %>
</p>

<p>
  <b>Joiners count:</b>
  <%= @bid.join_count %>
</p>

<p>
  <b>Valid until:</b>
  <%= @bid.valid_until %>
</p>

<p>
  <b>Link to Join:</b>
  <%= link_to 'Join Me', join_bid_path(@bid) %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
